body {
    background-image: url(/resources/img/grey_wash_wall.png);
    overflow-y: hidden;
}

#search_title {
    position: relative;
    padding-top: 6.5em;
    color: white;
}

#search_area {
    position: relative;
}

#search_bar {
    padding-bottom: 4em;
}

 #search_results {
     /*overflow-y: scroll;*/
 }

.scrollable {
    
    height: 400px; /* or any value */
    overflow-y: auto;
}


a {
    color: white;
    text-decoration: underline;
}

